<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin City Market - Home</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <!-- Header -->
    <%- include('partials/header') %>

    <main>

        <div class="row">
            <div class="column">
                <img src="/assets/images/image1.jpg" alt="image1">
                <img src="/assets/images/record1.jpg" alt="record1">
                <img src="/assets/images/record2.jpg" alt="record2">
            </div>
            <div class="column">
                <img src="/assets/images/image2.jpg" alt="image2">
                <img src="/assets/images/record6.jpg" alt="record6">
                <img src="/assets/images/image3.jpg" alt="image3">
            </div>
            <div class="column">
                <img src="/assets/images/record4.jpg" alt="record4">
                <img src="/assets/images/record5.jpg" alt="record5">
                <img src="/assets/images/record3.jpg" alt="record3">
            </div>
            <div class="column">
                <img src="/assets/images/image5.jpg" alt="image5">
                <img src="/assets/images/record7.jpg" alt="record7">
                <img src="/assets/images/image6.jpg" alt="image6">
            </div>
        </div>

        <p class="website-description">
            Explore our extensive collection of vinyl records from various genres and eras. Whether you're a seasoned collector or just getting started, Vinyl Vault has something for everyone.
        </p>
        <a href="/items" class="browse-button">Start Browsing</a>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>
